{
  "root": true,
  "extends": ["@3shop/eslint-config-custom"],
  "ignorePatterns": ["deployLocally.js", "apps/functions/serverless/turbo.js"],
  "settings": {
    "next": {
      "rootDir": ["apps/*/"]
    }
  }
}